@import "variables";

.experience, .actuelles {
  width: 90%;
  margin: 0 auto;
  max-width: $max-width;
}


.ce_accordionStart {
  margin: 25px auto;
  padding-top: 10px;
}

.toggler {
  background-image: url("/files/assets/layout/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: auto 40px;
  margin-bottom: 25px;
  cursor: pointer;
  padding: 10px 25px;
  color: #798cc4;
  text-transform: uppercase;
  font-size: 1em;
  background-position: right center;
  border-top: 1px solid #798cc4;
  font-weight: 400;
}

.toggler.active {
  background-image: url("/files/assets/layout/Arrow-up.svg");
}



.ce_accordionStart .image-left {
  width: 30%;
  float: left;
}

.ce_accordionStart .text-right {
  width: 70%;
  float: left;
  margin-top: -23px;
  color: #798cc4;
  line-height: 1.6em;
  font-family: "Barlow", sans-serif;
}

.ce_accordionStart.bericht {
  width: 90%;
  max-width: 1200px;
}

.ce_accordionStart.bericht .toggler {
  background-image: url("/files/assets/layout/arrow-down-Black.svg");
  color: white;
}

.ce_accordionStart.bericht .toggler.active {
  background-image: url("/files/assets/layout/Arrow-up-black.svg");
}

.bericht .toggler  {
  color: white;
  border: 0;
}

.ce_accordionStart.bericht .text-right p {
  color: white;
}





@media screen and (max-width: 867px) {
  .ce_accordionStart .image-left{
    width: 100%;
    img {
      width: 100%;
    }
  }
  .ce_accordionStart .text-right {
    width: 100%;
  }
  .text-box .text-left {
    width: 100%;
  }
  .text-box .box {
    width: 100%;
  }
}
