@import "variables";

.mobile_menu_trigger {
  position: absolute;
  top: 80px;
  right: 0;
  display: block;
  cursor: pointer;
  img {
    width: 50px;
    filter: invert(1);
    transition: filter 250ms;
    &:hover {
      filter: invert(0);
    }
  }
}

.mobile_menu .inner {
  background: $maroon;
}

.mobile_menu .inner .menu-close {
  color: #fff;
  position: absolute;
  top: 8px;
  right: 5vw;
  font-size: 70px;
  text-decoration: none;
}
.mobile_menu {
  z-index: 1000;
/*.mod_navigation {
  width: 90%;
  margin: 100px auto;
  ul {
    li {
      padding: 10px 0;
      a,strong {
        color: white;
        text-transform: uppercase;
        font-size: 30px;
        text-decoration: none;
      }
      &:last-child, &:not(:last-child) {
        border-bottom: 3px solid white;
        border-bottom-style: dotted;
      }
      &.active strong {
        color: $mediumslateblue;
      }
    }
  }
 }*/
}

/*.nav-menu {
  margin: 50px auto;
  width: 90%;
  ul {
    li {
      padding: 10px 0;
      a,strong {
        color: white;
        text-transform: uppercase;
        font-size: 30px;
        text-decoration: none;
      }
      &:not(:last-child) {
        border-bottom: 3px solid white;
        border-bottom-style: dotted;
      }
      &.active strong {
        color: $mediumslateblue;
      }
    }
  }

}*/

.mod_navigation {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
}
.mod_navigation .menu-list > li {
  &:not(:last-child) {
    border-bottom: 3px solid white;
    border-bottom-style: dotted;
  }
}
.mod_navigation .mod_customnav li {
  padding: 10px 0;
}
.mod_navigation .mod_customnav li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.mod_navigation .mod_customnav li a::before {
  background: url("/files/assets/layout/arrow-right.svg") no-repeat;
  content: "";
  float: left;
  margin: 5px 6px 0 0;
  background-size: 23px;
  display: block;
  height: 26px;
  width: 30px;
}
.mod_navigation .menu-list .toggler {
  background: 0;
  margin-bottom: 0;
  padding: 10px 0;
  color: white;
  border: 0;
  &:before {
  background-image: url("/files/assets/layout/arrow-down-white.svg");
  float: left;
  margin: 5px 6px 0 0;
  background-size: 23px;
  background-repeat: no-repeat;
  display: block;
  content: "";
  height: 26px;
  width: 30px;
 }
}
.mod_navigation .menu-list .toggler.active::before {
  background: url("/files/assets/layout/arrow-up-white.svg") no-repeat;
}

.mod_navigation .menu-list .ce_accordionSingle .toggler span {
  font-size: 25px;
  letter-spacing: 1px;
  &:hover {
   color: black;
  }
}

.mod_customnav.navi_info{
  font-size: 25px;
}
.navi_info > ul > li.active > strong {
  font-size: 25px;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
}

.mod_navigation .ce_accordion .mod_customnav li.active {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}



