@import "variables";

.ce_sliderStart.mobile-only-slider{
  position: relative;
  width: 100%;
}

.ce_sliderStart.mobile-only-slider  {
  display: none;
}

.description-slider {
  position: relative;
  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  .description-new {
    text-align: center;
    position: absolute;
    bottom: 11px;
    width: 90%;
    height: 100px;
    padding: 20px 0;
    background: rgba(121,140,196,.6);
    z-index: 2;
    color: #fff;
    transform: translateX(5%);
    font-size: 17px;
    h3 {
      width: 90%;
      max-width: 1000px;
      margin: 0 auto;
      padding-top: 13px;
      border-top: 1px solid #fff;
      }
    }
}

.description-new h3 a {
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  transition: color 250ms;
  font-size: 17px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    top: 3px;
    width: 30px;
    height: 23px;
    background: url("/files/assets/layout/Pfeil.svg") no-repeat;
    background-size: 19px;
    filter: invert(1);
  }
  &:hover {
    color: $maroon;
  }
}

.ce_sliderStart.mobile-only-slider .slider-control {
  position: absolute;
  bottom: 96px;
  width: 100%;
  transform: translateY(50%);
  top: 81%;
  .slider-prev {
    left: 3%;
    width: 33px;
  }
  .slider-next {
    right: 3%;
    width: 33px;
  }
  .slider-menu {
    display: none;
  }
}

.ce_sliderStart {
  position: relative;
  width: 100%;
  .image_container img {
    width: 100%;
  }
  .slider-control {
    position: absolute;
    bottom: 100px;
    width: 100%;
    top: 50%;
    filter: invert(1);
    cursor: pointer;
  }
}
.ce_sliderStart .slider-control a:hover {
  filter: brightness(0.5) sepia(1) saturate(350%);
}


.slider-control .slider-prev {
  width: 45px;
  left: 3%;
}
.slider-control .slider-next {
  width: 45px;
  right: 3%;
}
.slider-control .slider-menu {
  display: none;
}



@media screen and (max-width: 867px) {
  .ce_sliderStart.mobile-only-slider {
    display: block;
  }
  .banner-image, .banner-image1 {
    display: none;
  }
  .description-slider .teaser-text {
    h2 em {
      font-size: 18px;
    }
    p{
      font-size: 16px;
    }
  }

}