@import 'variables';

.teaser-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  gap: 1%;
  padding: 30px 0;
  .teaser-box {
    width: 27%;
    margin: 10px 0;
    a {
      display: block;
      text-align: center;
      padding: 45px 9px 22px;
      font-size: 20px;
      background: white;
      color: #4E121E;
      box-shadow: 0 0 5px #cecece;
      border-radius: 15px;
      text-decoration: none;
      transition: box-shadow 250ms;
      &:hover {
        box-shadow: 0 5px 15px #a8a8a8
      }
      .teaser-box-top {
        img {
          width: 80px;
          height: 80px;
          object-fit: contain;
        }
      }
      .teaser-box-middle {
        h3 {
          height: 2em;
        }
      }
    }
  }
}

.link-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
  .link-box {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    a {
      position: relative;
      display: block;
      font-size: 20px;
      background: white;
      color: #4E121E;
      box-shadow: 0 0 5px #cecece;
      border-radius: 15px;
      text-decoration: none;
      transition: box-shadow 250ms;
      .link-box-inner {
        display: flex;
        flex-wrap: wrap;
        .link-box-left {
          width: 10%;
          img {
            width: 50px;
            height: 100%;
            padding-left: 10px;
            object-fit: contain;
          }
        }
      }
      &:after {
        position: absolute;
        top: 20px;
        right: 20px;
        content: '';
        width: 35px;
        height: 35px;
        background: url("/files/assets/layout/arrow-right-black.svg");
        filter: invert(1) brightness(0.5);
      }
    }
  }
}

.icon-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1%;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 0;
  .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 5px 0;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 20px;
    background: white;
    color: #4E121E;
    box-shadow: 0 0 5px #cecece;
    border-radius: 15px;
    text-decoration: none;
    a {
      color: $maroon;
      text-decoration: none;
    }
    .icon-box-top {
      text-align: center;
      img {
        width: 80%;
      }
    }
    .icon-box-bottom {
      h3 {
        text-align: center;
      }
    }
  }
  &.aubergine {
    background: none;
    .icon-box {
      background: rgba(78, 18, 30, 0.51);
      color: white;
      h3 {
        color: white;
      }
    }
  }
}

.short-infos {
  width: 90%;
  max-width: 1400px;
  margin: 40px auto;
  h2 {
    text-align: center;
  }
  .short-infos-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    .short-info {
      width: 21%;
      p {
        position: relative;
        padding-left: 45px;
        color: $maroon;
        &:before {
          position: absolute;
          top: 10px;
          left: 0;
          content: '';
          width: 35px;
          height: 35px;
          background: url("/files/assets/layout/Pfeil-blue.svg") no-repeat 0/contain;
        }
        a {
          color: $maroon;
          text-decoration: none;
        }
      }
    }
  }
}

.event-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1%;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 0;
  .event-box {
    width: 20%;
    margin: 5px 0;
    font-size: 20px;
    background: white;
    color: #4E121E;
    box-shadow: 0 0 5px #cecece;
    border-radius: 15px;
    text-decoration: none;
    .event-box-inner {
      padding: 40px;
      box-sizing: border-box;
    }
    a {
      color: $maroon;
      text-decoration: none;
    }
    .event-box-top {
      text-align: center;
      img {
        width: 80%;
      }
    }
    .event-box-bottom {
      h3 {
        text-align: center;
      }
      .time p {
        font-size: 23px;
        line-height: 1em;
        color: $mediumslateblue;
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.aubergine {
    background: none;
    .icon-box {
      background: rgba(78, 18, 30, 0.51);
      color: white;
      h3 {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .teaser-boxes .teaser-box {
    width: 100%;
    margin: 10px auto;
  }

  .icon-boxes .icon-box {
    width: 47%;
    margin: 10px auto;
  }

  .event-boxes .event-box {
    width: 100%
  }

  .short-infos .short-infos-inner .short-info {
    width: 100%;
    p:before {
      top: 0;
    }
  }

  .link-boxes .link-box a .link-box-inner .link-box-left {
    width: 25%;
  }
}
